/.quarto/
.Rproj.user
*_cache/
*_files/
_site/
about.qmd
.DS_Store

*.h5ad

practicals/practical_1/data/*/
practicals/practical_1/data/*.zip
practicals/practical_3/data/*/
practicals/practical_3/data/*.zip
.ipynb_checkpoints/
